<h1 class="text-4xl font-semibold text-center mb-8 text-gray-800 dark:text-gray-200">About Me</h1>
	<div class="grid">
		<div class="bg-white dark:bg-gray-900 shadow-lg rounded-3xl p-8 lg:p-12">
		  <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300 mb-6">
			I am a passionate individual driven by continuous learning and adaptability, excelling in various fields due to my multipotentiality. Self-taught from an early age, I have a strong interest in technology, with hands-on experience in full-stack web applications and data analysis. I am skilled in inventory management and administrative operations, with a proven ability to solve complex problems and work effectively within multidisciplinary teams.
		  </p>
		  <p class="text-lg leading-relaxed text-gray-700 dark:text-gray-300">
			In addition to my technical expertise, I thrive in collaborative environments and am always seeking new opportunities to grow and expand my skill set. My curiosity fuels my dedication to staying up-to-date with the latest industry trends, ensuring that I bring innovative solutions to any project I take on. Whether it’s coding, problem-solving, or learning a new tool, I embrace challenges and strive for excellence in everything I do.
		  </p>
		</div>
		<div class="relative w-80 mx-auto mt-8">
		  <img src="https://res.cloudinary.com/dpmxvmf87/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1725581816/IMG-20240629-WA0061_aj8ilv.jpg" 
			   alt="Miguel Leon" 
			   class="rounded-3xl w-100 h-100 mx-auto relative z-10 shadow-lg" />
		  <div class="absolute inset-0 w-100 h-100 rounded-3xl bg-black opacity-45 blur-sm transform translate-x-4 translate-y-4"></div>
		</div>
	</div>