---
import AstroIcon from './iconsSkills/Astro.astro';
import CssIcon from './iconsSkills/Css.astro';
import FirebaseIcon from './iconsSkills/Firebase.astro';
import GithubIcon from './iconsSkills/Github.astro';
import GoogleColabIcon from './iconsSkills/GoogleColab.astro';
import HFIcon from './iconsSkills/HF.astro';
import HtmlIcon from './iconsSkills/Html.astro';
import JsIcon from './iconsSkills/Js.astro';
import NodeIcon from './iconsSkills/Node.astro';
import OpenAiIcon from './iconsSkills/OpenAi.astro';
import PythonIcon from './iconsSkills/Python.astro';
import ReactIcon from './iconsSkills/React.astro';
import TailwindIcon from './iconsSkills/Tailwind.astro';
import ViteIcon from './iconsSkills/Vite.astro';
/*    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
    <GoogleColabIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>*/
---


<div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-8 justify-items-center">
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <AstroIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <CssIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <FirebaseIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <GithubIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>

    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <HFIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <HtmlIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <JsIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <NodeIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <OpenAiIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a target="_blank" class="group hover:text-gray-600 transition-transform duration-300">
        <PythonIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a class="group hover:text-gray-600 transition-transform duration-300">
        <ReactIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a class="group hover:text-gray-600 transition-transform duration-300">
        <TailwindIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
    <a class="group hover:text-gray-600 transition-transform duration-300">
        <ViteIcon class="size-12 transform group-hover:scale-125 shadow-sm" />
    </a>
</div>
