---
import Header from '../components/Header.astro';
import '@fontsource-variable/onest';
import SocialIcon from '../components/SocialIcon.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<SocialIcon />
		<slot />
	</body>
</html>

<style is:global>
:root {
  color-scheme: light dark;
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --background-light: linear-gradient(135deg, #f5f5f5, #d1c4e9, #ede7f6); /* Fondo claro */
  --background-dark: linear-gradient(135deg, #0f0513, #53375e, #bd81af); /* Fondo oscuro */
}

html {
  font-family: "Onest Variable", system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: var(--background-light); /* Se aplica el fondo claro por defecto */
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: background 0.3s ease-in-out;
  
}

@media(prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* Tema oscuro */
.dark body {
  background: var(--background-dark); /* Se aplica el fondo oscuro en el tema dark */
}
